<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>Dystopian Arawak</title>
</head>
<body>
{% include "main/layout/header.html" %}

<div id="content" class="content">
    {% block content %}

    {% endblock content %}
</div>

{% include "main/layout/footer.html" %}
</body>
</html>

