{% load static %}
<header class="header">
    <image class="header__image" src="https://via.placeholder.com/50"></image>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item"><a href="#">Liens numéro 1</a></li>
            <li class="header__item"><a href="#">Liens numéro 1</a></li>
            <li class="header__item"><a href="#">Liens numéro 1</a></li>
            <li class="header__item"><a href="#">Liens numéro 1</a></li>
            <li class="header__item"><a href="#">Liens numéro 1</a></li>
        </ul>
    </nav>
</header>